body {
    margin: 0;
    min-height: 100vh;

    background-image: url("image/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    text-align: center;
}

h1 {
    font-size: 64px;
    text-shadow: 4px 4px 0px #000;
}

button {
    background: #55aa55;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
}